{% block content %}
<main>
  <h1>
    {% if request.resolver_match.namespace == "archive" %}
    Archive Posts
    {% else %}
    Blog Posts
    {% endif %}
  </h1>

  {% if tag_filter %}
  <h2>
    Posts tagged with "{{ tag_filter.name }}"
  </h2>
  {% endif %}

  <article>
    {% if post_list %}
    <ul>
      {% for post in post_list %}
      <li>
        <a href="{% url request.resolver_match.namespace|add:':post_detail' post.slug %}">
          {{ post.title }}
        </a>
        <p>
          {% for tag in post.tags.all %}
          <a href="{% url request.resolver_match.namespace|add:':post_tag' tag.name %}">
            {{ tag.name }}
          </a>
          {% endfor %}
        </p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No posts yet!</p>
    {% endif %}
  </article>
</main>

<aside>
  {% if archive_data %}
  <h3>Archives</h3>
  {% now "Y" as current_year %}
  {% now "F" as current_month %}
  {% for year, months in archive_data.items %}
  {% if year == current_year %}
  <details open>
    {% else %}
    <details>
      {% endif %}
      <summary>{{ year }}</summary>
      <ul>
        {% for month, posts in months.items %}
        <li>
          {% if year == current_year and month == current_month %}
          <details open>
            {% else %}
            <details>
              {% endif %}
              <summary>{{ month }}</summary>
              <ul>
                {% for p in posts %}
                <li>
                  <a href="{% url request.resolver_match.namespace|add:':post_detail' p.slug %}">
                    {{ p.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </details>
        </li>
        {% endfor %}
      </ul>
    </details>
    {% endfor %}
    {% endif %}

    {% if tags %}
    <h3>Tags</h3>
    <ul>
      {% for tag in tags %}
      <li>
        <a href="{% url request.resolver_match.namespace|add:':post_tag' tag.name %}">
          {{ tag.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if suggested_posts %}
    <h3>Suggested Reads</h3>
    <ul>
      {% for p in suggested_posts %}
      <li>
        <a href="{% url request.resolver_match.namespace|add:':post_detail' p.slug %}">
          {{ p.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
</aside>
{% endblock %}
